.product-list--container {
	margin-top: 30px;
	text-align: center;
	display: table;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	.product-list {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
}