.cart {
    background-color: #444;
    width: 250px;
    position: relative;
    z-index: 1;
    padding: 30px 2px 5px 2px;
    .cart--list {
        padding-bottom: 5px;
        min-height: 100px;
    }
    .cart--total {
        text-align: right;
        margin-right: 2px;
        text-decoration: underline double;
    }
    .cart--checkout {
        margin-top: 3px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        border: 1px solid #aaa;
        &:hover {
            border-color: #ccc;
            color: #ccc
        }
    }
}